## Ignore files produced by my RMarkdown files
/cyclic_peptide_pipeline/documents/plots
/cyclic_peptide_pipeline/documents/rsconnect
/cyclic_peptide_pipeline/documents/*.Rhistory
/cyclic_peptide_pipeline/documents/*.html


## Ignore all R sessions and saved environments
.RData
.Rhistory