## Ignore files produced by my RMarkdown files
/cyclic_peptide_pipeline/documents/plots
/cyclic_peptide_pipeline/documents/rsconnect
/cyclic_peptide_pipeline/documents/*.Rhistory
/cyclic_peptide_pipeline/documents/*.html


## Ignore all R sessions and saved environments
.RData
.Rhistory

## Ignore files that aren't my scrit files in peak_ratio
/peak_ratio/abi
/peak_ratio/fasta
/peak_ratio/standards
/peak_ratio/old
/peak_ratio/plot
/peak_ratio/.idea
/peak_ratio/__pycache__
/peak_ratio/models/__pycache__
/peak_ratio/doc

### Ignore data files
/peak_ratio/data/*.png


# Ignore data files

*.xlsx
*.ab1
*.pyc
*.fasta